body {
    background-color: black;
    color: aqua;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
    align-content: center;
    margin: 20px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#start-btn {
    margin: 0px 700px;
    background-color: lightblue;
    font-weight: bolder;
}

